<div id="<%= dom_id endereco %>">
  <p>
    <strong>Street:</strong>
    <%= endereco.street %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= endereco.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= endereco.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= endereco.state %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= endereco.number %>
  </p>

</div>
