<div id="<%= dom_id endereco %>">
  <p>
    <strong>Logradouro:</strong>
    <%= endereco.street %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= endereco.neighborhood %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= endereco.city %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= endereco.state %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= endereco.number %>
  </p>

</div>
