<div>
  <h1>Configurações Gerais</h1>
  <p>Nessa parte, você irá completar as informações e configurações gerais do seu consultório</p>
</div>
<div>

    <%= render 'enderecos/endereco_consultorio' %>

    <% if @endereco_formatado.present? %>
      <% if @ap == 'Apartamento' %>
        <%= render 'enderecos/apartamento' %>
      <% end %>

      <%= render 'enderecos/endereco_bloco' %>

    <% end %>

    <%= render 'telefones/telefone_bloco' %>

  <%= render 'nomes/nomes_bloco' %>
  <%= render 'emails/email_bloco' %>

  <button type="submit" class="btn btn-success">Salvar</button>
</div>
