<div>
  <h1>Configurações Gerais</h1>
  <p>Nessa parte, você irá completar as informações e configurações gerais do seu consultório</p>
</div>
<div>
  <h2>Endereço do meu consultório</h2>
  <form>
    <div class="form-group">
      <input
        class="form-control"
        type="number"
        id="example-tel-input"
        placeholder="DDD">

      <input
        class="form-control"
        type="number"
        id="example-tel-input"
        placeholder="Whatsapp">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="example-text-input" placeholder="Logradouro">
    </div>
    <div class="form-group">
      <input class="form-control" type="number" id="example-number-input" placeholder="Número">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="example-text-input" placeholder="Bairro">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="example-text-input" placeholder="Cidade">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="example-text-input" placeholder="Estado">
    </div>
    <button type="button" class="btn btn-success">Salvar</button>
  </form>
  <!-- app/views/enderecos/busca_cep.html.erb -->
  <%= form_with url: enderecos_busca_cep_path, method: :get, local: true do |form| %>
    <%= form.text_field :cep, placeholder: 'Digite o CEP' %>
    <%= form.submit 'Buscar' %>
  <% end %>

  <% if @cep_info.present? %>
    <p>Rua: <%= @cep_info['street'] %></p>
    <p>Bairro: <%= @cep_info['neighborhood'] %></p>
    <p>Cidade: <%= @cep_info['city'] %></p>
    <p>Estado: <%= @cep_info['state'] %></p>
    <p>CEP: <%= @cep_info['cep'][0..1] %>.<%= @cep_info['cep'][2..4] %>-<%= @cep_info['cep'][5..7] %></p>
  <% end %>

</div>
